* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

$cta: #FF6575;
$cta-secondary: #b4a7f5;
$main-text: #002058;

h1 {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 40px;
  line-height: 1.2;
  max-width: 500px;
  color: $main-text;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
  letter-spacing: 0.9px;
  color: $main-text;
}

h3 {
  font-weight: 600;
  font-size: 16px;
  color: $main-text;
}

h5 {
  color: $cta;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 18px;
  display: block;
  letter-spacing: 0.9px;
}

p,
a {
  color: #685f78;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 1.6;
}

a:hover {
  color: $cta;
  text-decoration: underline;
}

button {
  min-width: 120px;
  padding: 10px 15px;
  background-color: $cta;
  border: 1px solid $cta;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  // border: 3px solid #f4f4f4;
  font-size: 15px;
  min-height: 50px;
  cursor: pointer;
}