.partners {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;

    >div {
        margin: 0 auto;
        position: relative;
        width: 300px;
        height: 170px;

        img {
            object-fit: contain;
        }
    }
}