.table {
    border-radius: 15px;
    overflow: hidden;

    >* {
        border-bottom: 3px solid #1c74bc4e;
        padding-left: 15px;
        padding-top: 15px;
    }

    >p:hover {
        background: #1c74bc4e;
    }

    >h5,
    >p {
        background: rgb(241 91 41 / 13%);
    }
}